*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #424040;
}


#container{
    background-color: rgb(168, 240, 240);
    display:flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 60%;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}

#last{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#error{
    color: red;
    font-size: small;
}